<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>eGreeting Card - @ViewBag.meta_title</title>
    <meta name="keywords" value="@ViewBag.meta_keywords" />
    <meta name="description" value="This is a website about sends cards to friends.  @ViewBag.meta_desc" />

    <title>Forms!</title>
    <!-- Libraries -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

    @RenderSection("css", required: false)

</head>
<body class="@ViewBag.theme">

    @RenderBody()

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
